body {
  font-family: Montserrat;
}

* {
  margin: 0 auto;
}
body {
  font-family: Montserrat;
  overflow-x: hidden;
}

.h1-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}